.root {
  li{
    display: inline-block;
    
  }

  a {
    display: inline-block;
    text-align: center;
    width: 45px;
    line-height: 42px;
    height: 45px;
   
    border: 1px solid #666;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    color:darkgreen;
    font:bolder;


    &:hover {
      background-color: palegreen;
      font-size: 20px;
    }
     
    a {
      
    }
  }

  :global {
    .selected {
      a{
        background-color: palegreen;
        font-size: 20px;
      }   
     }
  }
}