.root {
  position: relative;

}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px, 20px;
  width: 400px;
  border-radius: 12px;
  min-height: 45px;
  font-size: 16px;
  padding-left: 45px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}

.icon {
  width: 36px;
  height: 36px;
  opacity: 0.6;
  position: absolute;
  left: 5px;
  top: 5px;
}